/*

write your code here

*/
@media print {
    *{
        margin: 5%;
        padding: 0%;
    }
    #contact, .tm-main-nav, .tm-team-img, .img-contact-us, .carousel-indicators, .gallery-container{
        display: none;
    }
    .tm-banner {
        background: #fff;
    }
    body {
        margin: 0px;
        padding: 0px;
        background: #fff;
    }
    h2 {
        text-align: center;
        text-transform: uppercase;
        color:#80e2ec;
    }
    .heading h2 {
        font-weight: 400;
    }
    .tm-description-container {
        max-width: none;
        text-align: center;
    }
    .carousel {
        padding: 10px;
    }
    h2+p {
        font-style: normal;
    }
    .heading ol li {
        list-style-type: none;
    }
    .heading ol a.text::after{
        content: '';
    }
    .heading a{
        color: #000;
        pointer-events: none;
        text-decoration: none;
    }
    .padding-medium{
        padding: 0 40px;
    }
    p{
        line-height: normal;
    }
    .heading ol{
        width: 50%;
        margin: auto;
    }
    li:first-letter{
        color:#80e2ec;
        font-size: 150%;;
    }
    li:ntn-child(2n){
        text-align: center;
    }
    li:ntn-child(2n+1){
        text-align: left;
    }
    .tm-banner-text{
        letter-spacing: normal;
    }
    .tm-main-content{
        padding: 0px;
    }
    .tm-content-box{
        margin: 0px;
    }
    .blocks{
        margin-top: 20px;
    }
}
@media screen{
    .tm-banner-text{
        text-shadow: 0 10px 1px #80e2ec, 0 3px 0.5px #80e2ec;
        letter-spacing: 5px;
        word-spacing: 10px;
        animation-name: rotateY;
        animation-duration: 5s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
    }
    @keyframes rotateY {
        0%{
            transform: rotateY(0deg);
        }
        75%{
            transform: rotateY(360deg);
        }
        100%{
            transform: rotateY(360deg);
        }
    }
    .box-bg:hover{
        background-color: lightskyblue;
    }
    .box-bg:hover h2{
        color:whitesmoke;
        font-weight: bold;
    }
    .tm-sidebar, .tm-content-header, section{
        box-shadow: 0 0 10px rgba(60, 50, 60, 0.7);
    }
    .tm-banner{
        background-color: #80e2ec;
    }
    .tm-banner-inner{
        background-color: whitesmoke;
    }
    .flex-2-col{
        display: flex;
    }
    section{
        position: relative;
    }
    section::after{
        content: "";
        position: absolute;
        left:0;
        top:0;
        width: 0;
        height: 0;
        border-top:50px solid lightskyblue;
        border-right: 50px solid transparent;
    }
    .heading h2{
        text-align: center;
        color:#80e2ec;
    }
    .heading ol {
        list-style-type: lower-roman;
    }
    .heading a:visited {
        color: #ffb347 ;
    }
    .heading a {
        padding-left: 5px;
    }
    .heading a:hover {
        border-left: 3px solid #ffb347;
        color: #ffb347;
        font-weight: bold;
        text-decoration: none;
        padding-left: 2px;
    }
    .heading .text::after {
        content: "New";
        vertical-align: super;
        font-variant: small-caps;
        font-weight: bold;
        font-size: 10px;
        color: red;
    }
    .gallery-container > li:nth-child(2n) {
        background-color: #f2f2f2;
    }
    .gallery-container > li {
        padding: 8px;
    }
    .gallery-container > li p:first-letter {
        color:black;
    }
    h2 + p {
        font-style: italic;
    }
    .tm-nav-item:hover {
        background-color: #f2f2f2;
    }
    .tm-section-description {
        line-height: 30px;
        text-indent: 25px;
    }
    .box-work p::first-letter {
        color: #76cdd7;
        font-size: 30px;
    }
    .form-control {
        border: none;
        outline: none;
	    border-bottom: 2px solid lightskyblue;
        border-radius: 5px;
        color:#999;
    }
    .form-control:focus {
        background: #76cdd7;
        color: #fff;
    }
    #contact_message {
        border: 2px solid lightskyblue;
        resize: none;
    }
    .submit-btn {
        background: #fff;
        color: lightskyblue;
        border: 2px solid lightskyblue;
        float: right;
        padding: 10px 45px;
        border-radius: 0;
    }
    .submit-btn:hover,.submit-btn:active:focus {
        background-color: lightskyblue;
        color: #fff;
        outline: none;
        border: 2px solid rgb(49,176,213);
    }
    .mandatory-field::after {
        content: "";
        background: url(../img/email-icon.png);
        background-repeat: no-repeat;
        background-size: 30px;
        top: 3px;
        right: 0;
        width: 30px;
        height: 30px;
    }
}
